body {
  font-family: Arial, sans-serif;
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
}

.app {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
  margin-top: 50px; /* Adjusted to match header height */
}

.main-content .boms-table {
  margin-left: 250px; /* Adjusted to match sidebar width */
  padding: 20px;
  width: calc(100% - 250px);
}
